#spinner-container {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinner {
  background-image: url("/cat-head.png");
  background-size: contain;
  width: 100px;
  height: 100px;
  animation: batmanTransition 1000ms infinite ease-in-out;
  -webkit-animation: batmanTransition 1000ms infinite ease-in-out;
  display: block;
}

@keyframes batmanTransition {
  0% {
    transform: scale(0.2);
    opacity: 0%;
  }
  50% {
    transform: scale(1.1);
    opacity: 100%;
  }
  100% {
    transform: scale(0.2);
    opacity: 0%;
  }
}
