.cat-fact {
  list-style-type: none;
  margin-bottom: 20px;
  min-height: 48px;
}

.cat-fact-text {
  display: block;
  text-align: justify;
}

.cat-fact-text:first-letter {
  font-size: 48px;
  line-height: 1;
  float: left;
  margin-right: 5px;
}
